<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
{% load static %}
{% load cart %}
<html>
<head>
<title>Youth Fashi - Cart</title>
<link rel="icon" type="image/png" href="{% static 'images/icons/home.jpg' %}"/>

<link href="{% static 'css/bootstrap-3.1.1.min.css' %}" rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Youth Fashion Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
<!-- start menu -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/simpleCart.min.js' %}"> </script>
<!-- slide -->
<script src="{% static 'js/responsiveslides.min.js' %}"></script>
   <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: false,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
  <!-- animation-effect -->
<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
<script src="{% static 'js/wow.min.js' %}"></script>
<script>
 new WOW().init();
</script>
<!-- //animation-effect -->
</head>
<body>
<!--header-->
<!-- Start Modal popup-->
<!-- {% if error %}
<input type="hidden" id="error" value="{{ error }}">
{% else %}
<input type="hidden" id="error" value="0">
{% endif %}
<div id="myModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Attention!!</h5>
				<button type="button" class="close" data-dismiss="modal">&times;</button>
			</div>
			<div class="modal-body">
				<p>Mail sent successfully.</p>
			</div>
		</div>
	</div>
</div> -->
<div class="header">
	<div class="header-top">
		<div class="container">
				<div class="col-sm-4 logo animated wow fadeInLeft" data-wow-delay=".5s">
					<h1><a href="{% url 'index' %}">Youth <span>Fashi</span></a></h1>
				</div>
			<div class="col-sm-4 world animated wow fadeInRight" data-wow-delay=".5s">
					<div class="cart box_1">
						<a href="{% url 'showcart' %}">
						<h3> <div class="total">
							<img src="{% static 'images/cart.png' %}" alt=""/></h3>
						</a>
						<strong>Go to your cart!</strong>

					</div>
			</div>
			
			<div class="col-sm-4 search animated wow fadeInRight" data-wow-delay=".5s">
			  <div class="search-container">
				<form action="{% url 'search' %}" method="post">
				{% csrf_token %}
			  		<input type="text" placeholder="Search.." name="search" class="searchbtn">
					<button type="submit"><i class="glyphicon glyphicon-search"></i></button>
				</form>
			  </div>
				<div class="clearfix"> </div>
			</div>
	</div>
		<div class="container">
			<div class="head-top">
			<div class="n-avigation">

				   <!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
						<ul class="nav navbar-nav nav_1">
							<li><a href="{% url 'index' %}">Home</a></li>
							<li class="dropdown mega-dropdown active">
								<a href="{% url 'women' %}" >Women</a>

							</li>
							<li class="dropdown mega-dropdown active">
								<a href="{% url 'men' %}" >Men</a>
								
							</li>
							
							<li class="last"><a href="{% url 'contact' %}">Contact</a></li>
							{% if request.user %}
							<li class="logout"><a href="{% url 'logout' %}">Logout</a></li>
							{% else %}
							<li><a href="{% url 'account' %}">Sign In</a></li>
							{% endif %}
							
						</ul>

					 </div><!-- /.navbar-collapse -->
                    
			</div>


		<div class="clearfix"> </div>
			<!---pop-up-box---->
					<link href="{% static 'css/popuo-box.css' %}" rel="stylesheet" type="text/css" media="all"/>
					<script src="{% static 'js/jquery.magnific-popup.js' %}" type="text/javascript"></script>
					<!---//pop-up-box---->


	<!---->
		</div>
	</div>

</div>
<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: slideInLeft;">
				<li><a href="{% url 'index' %}"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Cart</li>
			</ol>
		</div>
	</div>
<!--content-->
<div class="products">
	<div class="container">
		<h2>Cart Items</h2>
		{% if error %}
		<h2 style="font-size: 40px; color: green;text-align: center;">Your cart is empty :(</h2>
		{% else %}
		<table style="width:100%">
			<tr>
			  <th>Product</th>
			  <th>Product Name</th> 
			  <th>Quantity</th>
			  <th>Price</th>
			</tr>
			{% for item in cart_data %}
			<tr>
			  <td><img class="img-responsive" src="{{ item.image_cart.url }}" style = "width: 100px; height: 100px;"alt="" /></td>
			  <td style="font-size: 30px; font-weight: bold;">{{item.name}}</td>
			  <td style="font-size: 30px; font-weight: bold;">{{item.quantity}}</td>
			  <td style="font-size: 30px; font-weight: bold;">{{item.total_price}}</td>
			  <td><a href="{% url 'deleteproduct' item.id %}"><button class="btn"><i class="fa fa-trash"></i></button></a></td>
			</tr>
			
			{% endfor %}

		 
		  </table>
			<p style="text-align: right; margin-right: 100px; font-size: 20px;"><h2 style="font-size: 30px; color: brown;">Total Price : {{total_product_price}}</h2></p>
			<a href="#" class=" to-buy">PROCEED TO BUY</a>

		{% endif %}

		<style>
			.btn {
			  background-color: gray;
			  border: none;
			  color: white;
			  padding: 12px 16px;
			  font-size: 16px;
			  cursor: pointer;
			}
			
			/* Darker background on mouse-over */
			.btn:hover {
			  background-color: #fa03bb;
			}
			</style>
		  

						<script type="text/javascript">
							$(function() {
							    var menu_ul = $('.menu-drop > li > ul'),
							           menu_a  = $('.menu-drop > li > a');
							    menu_ul.hide();
							    menu_a.click(function(e) {
							        e.preventDefault();
							        if(!$(this).hasClass('active')) {
							            menu_a.removeClass('active');
							            menu_ul.filter(':visible').slideUp('normal');
							            $(this).addClass('active').next().stop(true,true).slideDown('normal');
							        } else {
							            $(this).removeClass('active');
							            $(this).next().stop(true,true).slideUp('normal');
							        }
							    });

							});
						</script>
<!--//menu-->
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!--//content-->
<!--footer-->
<div class="footer">
	<div class="container">
		<div class="footer-top">
			<div class="col-md-6 top-footer animated wow fadeInLeft" data-wow-delay=".5s">
				<h3>Follow Us On</h3>
				<div class="social-icons">
					<ul class="social">
						<li><a href=""><i></i></a> </li>
						<li><a href=""><i class="facebook"></i></a></li>	
						<li><a href=""><i class="google"></i> </a></li>
						<li><a href=""><i class="linked"></i> </a></li>						
					</ul>
						<div class="clearfix"></div>
				 </div>
			</div>
			<div class="col-md-6 top-footer1 animated wow fadeInRight" data-wow-delay=".5s">
				<h3>Newsletter</h3>
					<form action="#" method="post">
						<input type="text" name="email" value="" onfocus="this.value='';" onblur="if (this.value == '') {this.value ='';}">
						<input type="submit" value="SUBSCRIBE">
					</form>
			</div>
			<div class="clearfix"> </div>	
		</div>	
	</div>
		<div class="footer-bottom">
		<div class="container">
				<div class="col-md-3 footer-bottom-cate animated wow fadeInLeft" data-wow-delay=".5s">
					<h6>Categories</h6>
					<ul>
						<li><a href="">Trousers</a></li>
						<li><a href="">Pants</a></li>
						<li><a href="">Formal Pants</a></li>
						<li><a href="">Palazzo</a></li>
						<li><a href="">Shirts</a></li>
						
					</ul>
				</div>
				<div class="col-md-3 footer-bottom-cate animated wow fadeInLeft" data-wow-delay=".5s">
					<h6>Feature Projects</h6>
					<ul>
						<li><a href="">Formal</a></li>
						<li><a href="">Party Wear</a></li>
						<li><a href="">Casual Wear</a></li>
						<li><a href="">Fancy</a></li>
						<li><a href="">Spritual</a></li>
					</ul>
				</div>
				<div class="col-md-3 footer-bottom-cate animated wow fadeInRight" data-wow-delay=".5s">
					<h6>Top Brands</h6>
					<ul>
						<li><a href="">Lululemon</a></li>
						<li><a href="">Rolex</a></li>
						<li><a href="">Hermes</a></li>
						<li><a href="">Raymond</a></li>
						<li><a href="">Nike</a></li>
						
						
					</ul>
				</div>
				<div class="col-md-3 footer-bottom-cate cate-bottom animated wow fadeInRight" data-wow-delay=".5s">
					<h6>Our Address</h6>
					<ul>
						<li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Address : 12th sector, 5th block, <span>Gurgaon</span></li>
						<li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i>Email : <a href="mailto:fashiinfo@example.com">info@example.com</a></li>
						<li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>Phone : +91734567567</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
				<p class="footer-class animated wow fadeInUp animated" data-wow-delay=".5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"> © Youth Fashi . Fashion for youth </p>
			</div>
	</div>
</div>
<!--footer-->
</body>
</html>